In [2]:
#the usuals
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#imports for 1
from scipy import linalg
import statsmodels.api as sm
from sklearn.metrics import mean_squared_error

/opt/conda/lib/python3.9/site-packages/statsmodels/tsa/base/tsa_model.py:7: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import (to_datetime, Int64Index, DatetimeIndex, Period,
/opt/conda/lib/python3.9/site-packages/statsmodels/tsa/base/tsa_model.py:7: FutureWarning: pandas.Float64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import (to_datetime, Int64Index, DatetimeIndex, Period,

# Basic Stats

In [3]:
Basic_Stats=pd.read_csv('Basic_Stats.csv')
Basic_Stats.head()

,Age,Birth Place,Birthday,College,Current Status,Current Team,Experience,Height (inches),High School,High School Location,Name,Number,Player Id,Position,Weight (lbs),Years Played
0,NaN,"Grand Rapids , MI",5/23/1921,Notre Dame,Retired,NaN,3 Seasons,71.0,NaN,NaN,"Evans, Fred",NaN,fredevans/2513736,NaN,185.0,1946 - 1948
1,NaN,"Dayton , OH",12/21/1930,Dayton,Retired,NaN,1 Season,70.0,NaN,NaN,"Raiff, Jim",NaN,jimraiff/2523700,NaN,235.0,1954 - 1954
2,56.0,"Temple , TX",9/11/1960,Louisiana Tech,Retired,NaN,1 Season,74.0,NaN,NaN,"Fowler, Bobby",NaN,bobbyfowler/2514295,NaN,230.0,1985 - 1985
3,30.0,"New Orleans , LA",9/30/1986,LSU,Retired,NaN,5 Seasons,73.0,NaN,NaN,"Johnson, Quinn",NaN,quinnjohnson/79593,NaN,255.0,2009 - 2013
4,25.0,"Detroit , MI",3/31/1992,Central Michigan,Active,Pittsburgh Steelers,3rd season,77.0,Clintondale HS,"Clinton Twp.,Macomb Co., MI","Walton, L.T.",96.0,l.t.walton/2552444,DE,305.0,NaN

# Career_Stats_Defensive

In [4]:
Career_Stat_Def=pd.read_csv('Career_Stats_Defensive.csv')
Career_Stat_Def.head()

,Player Id,Name,Position,Year,Team,Games Played,Total Tackles,Solo Tackles,Assisted Tackles,Sacks,Safties,Passes Defended,Ints,Ints for TDs,Int Yards,Yards Per Int,Longest Int Return
0,quinnjohnson/79593,"Johnson, Quinn",NaN,2013,Tennessee Titans,4,0,--,--,--,--,--,--,--,--,0.0,--
1,quinnjohnson/79593,"Johnson, Quinn",NaN,2012,Tennessee Titans,16,1,1,0,0.0,--,0,--,--,--,0.0,--
2,quinnjohnson/79593,"Johnson, Quinn",NaN,2011,Tennessee Titans,4,0,--,--,--,--,--,--,--,--,0.0,--
3,quinnjohnson/79593,"Johnson, Quinn",NaN,2011,Denver Broncos,0,0,--,--,--,--,--,--,--,--,0.0,--
4,quinnjohnson/79593,"Johnson, Quinn",NaN,2010,Green Bay Packers,11,4,4,0,0.0,--,0,--,--,--,0.0,--

# Career_Stats_Field_Goal_Kickers

In [5]:
Career_Stat_Kick=pd.read_csv('Career_Stats_Field_Goal_Kickers.csv')
Career_Stat_Kick.head()

,Player Id,Name,Position,Year,Team,Games Played,Kicks Blocked,Longest FG Made,FGs Made,FGs Attempted,...,FGs Made 40-49 Yards,FGs Attempted 40-49 Yards,FG Percentage 40-49 Yards,FGs Made 50+ Yards,FGs Attempted 50+ Yards,FG Percentage 50+ Yards,Extra Points Attempted,Extra Points Made,Percentage of Extra Points Made,Extra Points Blocked
0,jeffhall/2500970,"Hall, Jeff",NaN,2000,St. Louis Rams,3,0,50,4,5,...,1,2,50.0,1,1,100.0,9,9,100.0,0
1,benagajanian/2508255,"Agajanian, Ben",NaN,1964,San Diego Chargers,3,0,--,2,4,...,--,--,--,--,--,--,8,8,100.0,0
2,benagajanian/2508255,"Agajanian, Ben",NaN,1962,Oakland Raiders,6,0,--,5,14,...,--,--,--,--,--,--,11,10,90.9,0
3,benagajanian/2508255,"Agajanian, Ben",NaN,1961,Green Bay Packers,3,0,--,1,2,...,--,--,--,--,--,--,8,8,100.0,0
4,benagajanian/2508255,"Agajanian, Ben",NaN,1961,Dallas Texans,3,0,--,3,9,...,--,--,--,--,--,--,7,7,100.0,0

# Career_Stats_Fumbles

In [6]:
Career_Stat_Fumb=pd.read_csv('Career_Stats_Fumbles.csv')
Career_Stat_Fumb.head()

,Player Id,Name,Position,Year,Team,Games Played,Fumbles,Fumbles Lost,Forced Fumbles,Own Fumbles Recovered,Opponent Fumbles Recovered,Own Fumble Return Yards,Opponent Fumble Return Yards,Fumble Return TDs,Out of Bounds Fumbles,Saftey Fumbles,Touchbacks
0,joeadams/2532782,"Adams, Joe",NaN,2012,Carolina Panthers,9,4,3,--,1,--,0,--,--,0,0,0
1,clarenceverdin/2503464,"Verdin, Clarence",NaN,1994,Atlanta Falcons,12,3,1,--,2,--,0,--,--,0,0,0
2,clarenceverdin/2503464,"Verdin, Clarence",NaN,1993,Indianapolis Colts,16,3,2,--,1,--,0,--,--,0,0,0
3,clarenceverdin/2503464,"Verdin, Clarence",NaN,1992,Indianapolis Colts,16,2,1,--,--,--,--,--,--,0,0,0
4,clarenceverdin/2503464,"Verdin, Clarence",NaN,1991,Indianapolis Colts,16,2,0,0,1,1,0,0,0,0,0,0

# Career_Stats_Kick_Return

In [7]:
Career_Stat_Return=pd.read_csv('Career_Stats_Kick_Return.csv')
Career_Stat_Return.head()

,Player Id,Name,Position,Year,Team,Games Played,Returns,Yards Returned,Yards Per Return,Longest Return,Returns for TDs,Returns Longer than 20 Yards,Returns Longer than 40 Yards,Fair Catches,Fumbles
0,bobbyfowler/2514295,"Fowler, Bobby",NaN,1985,New Orleans Saints,10,4,78,19.5,23,0,--,--,0,--
1,tomfarris/2513861,"Farris, Tom",NaN,1948,Chicago Rockets,0,--,--,--,--,--,--,--,--,--
2,tomfarris/2513861,"Farris, Tom",NaN,1947,Chicago Bears,9,--,--,--,--,--,--,--,--,--
3,tomfarris/2513861,"Farris, Tom",NaN,1946,Chicago Bears,11,1,27,27.0,--,0,--,--,0,--
4,johntanner/2527011,"Tanner, John",NaN,1974,New England Patriots,13,2,17,8.5,--,0,--,--,0,--

# Career_Stats_Kickoff

In [8]:
Career_Stat_KickOff=pd.read_csv('Career_Stats_Kickoff.csv')
Career_Stat_KickOff.head()

,Player Id,Name,Position,Year,Team,Games Played,Kickoffs,Kickoff Yards,Out of Bounds Kickoffs,Yards Per Kickoff,Touchbacks,Touchback Percentage,Kickoffs Returned,Average Returned Yards,Kickoffs Resulting in TDs,On Sides Kicks,On Sides Kicks Returned
0,jasonbaker/2504395,"Baker, Jason",NaN,2011,Carolina Panthers,16,--,--,--,--,--,--,--,--,--,--,--
1,jasonbaker/2504395,"Baker, Jason",NaN,2010,Carolina Panthers,16,--,--,--,--,--,--,--,--,--,--,--
2,jasonbaker/2504395,"Baker, Jason",NaN,2009,Carolina Panthers,16,--,--,--,--,--,--,--,--,--,--,--
3,jasonbaker/2504395,"Baker, Jason",NaN,2008,Carolina Panthers,16,--,--,--,--,--,--,--,--,--,--,--
4,jasonbaker/2504395,"Baker, Jason",NaN,2007,Carolina Panthers,16,7,453,1,64.7,0,0.0,6,26.3,0,0,0

# Career_Stats_Offensive_Line

In [9]:
Career_Stat_OffLine=pd.read_csv('Career_Stats_Offensive_Line.csv')
Career_Stat_OffLine.head()

,Player Id,Name,Position,Year,Team,Games Played,Games Started
0,jimraiff/2523700,"Raiff, Jim",NaN,1954,Baltimore Colts,3,--
1,rosspetty/2523136,"Petty, Ross",NaN,1920,Decatur Staleys,10,--
2,billschuler/2525128,"Schuler, Bill",NaN,1948,New York Giants,12,--
3,billschuler/2525128,"Schuler, Bill",NaN,1947,New York Giants,11,--
4,georgesergienko/2525335,"Sergienko, George",NaN,1946,Brooklyn Dodgers,0,--

# Career_Stats_Passing

In [10]:
Career_Stat_Pass=pd.read_csv('Career_Stats_Passing.csv')
Career_Stat_Pass.head()

,Player Id,Name,Position,Year,Team,Games Played,Passes Attempted,Passes Completed,Completion Percentage,Pass Attempts Per Game,...,TD Passes,Percentage of TDs per Attempts,Ints,Int Rate,Longest Pass,Passes Longer than 20 Yards,Passes Longer than 40 Yards,Sacks,Sacked Yards Lost,Passer Rating
0,tomfarris/2513861,"Farris, Tom",NaN,1948,Chicago Rockets,0,--,--,--,0.0,...,--,--,--,--,--,--,--,--,--,0.0
1,tomfarris/2513861,"Farris, Tom",NaN,1947,Chicago Bears,9,2,0,0.0,0.2,...,0,0.0,0,0.0,--,0,0,0,0,39.6
2,tomfarris/2513861,"Farris, Tom",NaN,1946,Chicago Bears,11,21,8,38.1,1.9,...,1,4.8,2,9.5,--,0,0,0,0,31.5
3,billdemory/2512778,"Demory, Bill",NaN,1974,New York Jets,1,--,--,--,0.0,...,--,--,--,--,--,--,--,--,--,0.0
4,billdemory/2512778,"Demory, Bill",NaN,1973,New York Jets,6,39,12,30.8,6.5,...,2,5.1,8,20.5,--,0,0,8,73,22.2

# Career_Stats_Punt_Return

In [11]:
Career_Stat_PuntRe=pd.read_csv('Career_Stats_Punt_Return.csv')
Career_Stat_PuntRe.head()

,Player Id,Name,Position,Year,Team,Games Played,Returns,Yards Returned,Yards Per Return,Longest Return,Returns for TDs,Returns Longer than 20 Yards,Returns Longer than 40 Yards,Fair Catches,Fumbles
0,fredevans/2513736,"Evans, Fred",NaN,1948,Chicago Bears,3,1,15,15.0,--,0,--,--,0,--
1,fredevans/2513736,"Evans, Fred",NaN,1948,Chicago Rockets,0,--,--,--,--,--,--,--,--,--
2,fredevans/2513736,"Evans, Fred",NaN,1947,Chicago Rockets,0,--,--,--,--,--,--,--,--,--
3,fredevans/2513736,"Evans, Fred",NaN,1947,Buffalo Bills,0,--,--,--,--,--,--,--,--,--
4,fredevans/2513736,"Evans, Fred",NaN,1946,Cleveland Browns,0,--,--,--,--,--,--,--,--,--

# Career_Stats_Punting

In [12]:
Career_Stat_Punting=pd.read_csv('Career_Stats_Punting.csv')
Career_Stat_Punting.head()

,Player Id,Name,Position,Year,Team,Games Played,Punts,Gross Punting Yards,Net Punting Yards,Longest Punt,...,Net Punting Average,Punts Blocked,Out of Bounds Punts,Downed Punts,Punts Inside 20 Yard Line,Touchbacks,Fair Catches,Punts Returned,Yards Returned on Punts,TDs Returned on Punt
0,davebaker/2508869,"Baker, Dave",NaN,1961,San Francisco 49ers,14,--,--,--,--,...,--,--,--,--,--,--,--,--,--,--
1,davebaker/2508869,"Baker, Dave",NaN,1960,San Francisco 49ers,12,3,143,--,--,...,--,0,--,--,--,--,--,--,--,--
2,davebaker/2508869,"Baker, Dave",NaN,1959,San Francisco 49ers,12,--,--,--,--,...,--,--,--,--,--,--,--,--,--,--
3,jasonbaker/2504395,"Baker, Jason",NaN,2011,Carolina Panthers,16,66,"2,819","2,253",56,...,34.1,0,0,11,19,5,15,35,466,3
4,jasonbaker/2504395,"Baker, Jason",NaN,2010,Carolina Panthers,16,95,"4,097","3,469",60,...,36.5,0,8,10,22,7,16,54,488,1

# Career_Stats_Receiving

In [13]:
Career_Stat_Receiving=pd.read_csv('Career_Stats_Receiving.csv')
Career_Stat_Receiving.head()

,Player Id,Name,Position,Year,Team,Games Played,Receptions,Receiving Yards,Yards Per Reception,Yards Per Game,Longest Reception,Receiving TDs,Receptions Longer than 20 Yards,Receptions Longer than 40 Yards,First Down Receptions,Fumbles
0,fredevans/2513736,"Evans, Fred",NaN,1948,Chicago Bears,3,1,-2,-2.0,-0.7,--,0,--,--,--,--
1,fredevans/2513736,"Evans, Fred",NaN,1948,Chicago Rockets,0,--,--,--,0.0,--,--,--,--,--,--
2,fredevans/2513736,"Evans, Fred",NaN,1947,Chicago Rockets,0,--,--,--,0.0,--,--,--,--,--,--
3,fredevans/2513736,"Evans, Fred",NaN,1947,Buffalo Bills,0,--,--,--,0.0,--,--,--,--,--,--
4,fredevans/2513736,"Evans, Fred",NaN,1946,Cleveland Browns,0,--,--,--,0.0,--,--,--,--,--,--

# Career_Stats_Rushing

In [14]:
Career_Stat_Rushing=pd.read_csv('Career_Stats_Rushing.csv')
Career_Stat_Rushing.head()

,Player Id,Name,Position,Year,Team,Games Played,Rushing Attempts,Rushing Attempts Per Game,Rushing Yards,Yards Per Carry,Rushing Yards Per Game,Rushing TDs,Longest Rushing Run,Rushing First Downs,Percentage of Rushing First Downs,Rushing More Than 20 Yards,Rushing More Than 40 Yards,Fumbles
0,fredevans/2513736,"Evans, Fred",NaN,1948,Chicago Bears,3,10,3.3,15,1.5,5.0,0,--,--,--,--,--,--
1,fredevans/2513736,"Evans, Fred",NaN,1948,Chicago Rockets,0,--,0.0,--,--,--,--,--,--,--,--,--,--
2,fredevans/2513736,"Evans, Fred",NaN,1947,Chicago Rockets,0,--,0.0,--,--,--,--,--,--,--,--,--,--
3,fredevans/2513736,"Evans, Fred",NaN,1947,Buffalo Bills,0,--,0.0,--,--,--,--,--,--,--,--,--,--
4,fredevans/2513736,"Evans, Fred",NaN,1946,Cleveland Browns,0,--,0.0,--,--,--,--,--,--,--,--,--,--

# Game_Logs_Defensive_Lineman

In [15]:
Career_Stat_Game_Log=pd.read_csv('Game_Logs_Defensive_Lineman.csv')
Career_Stat_Game_Log.head()

,Player Id,Name,Position,Year,Season,Week,Game Date,Home or Away,Opponent,Outcome,...,Assisted Tackles,Sacks,Safties,Passes Defended,Ints,Int Yards,Yards Per Int,Longest Int Return,Ints for TDs,Forced Fumbles
0,l.t.walton/2552444,"Walton, L.T.",DE,2016,Preseason,1,08/12,Home,DET,L,...,0,0.0,--,0,--,--,0.0,--,--,0
1,l.t.walton/2552444,"Walton, L.T.",DE,2016,Preseason,2,08/18,Home,PHI,L,...,--,--,--,--,--,--,0.0,--,--,--
2,l.t.walton/2552444,"Walton, L.T.",DE,2016,Preseason,3,08/26,Away,NO,W,...,--,--,--,--,--,--,0.0,--,--,--
3,l.t.walton/2552444,"Walton, L.T.",DE,2016,Preseason,4,09/01,Away,CAR,L,...,3,0.0,--,0,--,--,0.0,--,--,0
4,l.t.walton/2552444,"Walton, L.T.",DE,2016,Regular Season,1,09/12,Away,WAS,W,...,--,--,--,--,--,--,0.0,--,--,--